.container {
  max-width: 1200px;
  margin: 0 auto;
}
.h1 {
  text-align: center;
}
.h2 {
  color: blue;
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form1,
.form2 {
  width: 400px;
  height: 25px;
  border: 2px solid blue;
  border-style: dotted;
}
.form3 {
  width: 400px;
  border: 2px solid blue;
  border-style: dotted;
}
.form__btn {
  width: 150px;
  height: 35px;
  background: blue;
  color: white;
  border: none;
  font-weight: bolder;
}
.box {
  margin-right: 20px;
}
.yourfoto {
  width: 100px;
  height: 100px;
}
